<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
		xmlns:gap   = "http://phonegap.com/ns/1.0"
		id	    = "course.shu"
		versionCode = "1" 
		version     = "1.0.0" >
 
	<name>課新來了</name>
	
	<description>
		course shu
	</description>
 
	<icon src="./img/button.png" />
	
	<author href="" email="">
		gigi
	</author>
	
	<plugin name="cordova-plugin-device" spec="^1.1.0" />
	<plugin name="cordova-plugin-file" spec="^4.3.0" />

</widget>
